{% load static%}
<html>
    <head>
        <title>DJANGO</title>
        <link rel="stylesheet" type="text/css" href="{%static'style.css'%}">
    </head>
   <body style="background-color:skyblue;"></body>
       <h1><p style="color:palegreen;font-size:60px;">python</p></h1>
       <h2><p style="color:palevioletred;font-size:50px;">machine learning</p></h2>
       <h3><p style="color:peru;font-size:40px;">data science</p></h3>
       <h4><p style="color:darkorchid;font-size:30px;">deep learning</p></h4>
   </body> 
</html>
